# Python standard
__pycache__/
*.pyc

# Builds and executables
build/
dist/
*.spec

# Dataset and Images (User request)
dataset_base/
clasificaciones/
entrada/

# Models and Indexes
modelo/
index/

# Logs
logs/
